#page {
    height: 100%;
}

#page-content {
    width: 100%;
}

#page-view {
    min-width: 100%;
    overflow-y: auto;
}

#page-view > div {
    min-width: 100%;
}

.image-overlay {
    background-color: rgba(33,150,243, 0.5);
    padding: 10px;
    color: #fff;
}

.page {
  width: 1000px;
  padding: 16px;
  margin: 20px auto;
  background-color: #fff;
  border: #ddd solid 1px;
}
