# Ignore css folders
css/
.sass-cache/

# npm stuff
node_modules/

# bower stuff
bower_components/

# js build
build/

# tsd stuff
typings/

# docs compiled stuff
docs/js

# playground compiled stuff
playground/typescript/js

# handlebars compiled templates
backbone/js/templates
jasmine/js/templates
typescript/js/templates
