.backbone-function {
  margin: 8px 0;
  border: solid 1px #0071b5;
}

.backbone-function-header {
  background-color: #0071b5;
  color: #eee;
  border-bottom: solid 1px #0071b5;
  padding: 4px 16px;
}

.backbone-function-body {
  padding: 4px 16px;
}

.backbone-function-name {
  margin: 0;
}
