.input-view {
  width: 33%;
  height: 500px;
  display: inline-block;

}
.function-view {
  width: 33%;
  height: 500px;
  display: inline-block;

}
.output-view {
  width: 33%;
  height: 500px;
  display: inline-block;
}
