<div class="backbone-function-header">
  <em>{{class}}</em>
  <h2 class="backbone-function-name">{{name}} <small>({{#each arguments}}{{#if @index}}, {{/if}}{{this.name}}{{/each}})</small></h2>
</div>
<div class="backbone-function-body">
  <p>{{description}}</p>
</div>
