<h1>I are pretending to be yous</h1>
<div>
  <p>Dependencies! You don't care what they do, you just want your code to use them, so let's go ahead and mock them (but not in a child-like teasing way).</p>
</div>
