<h1>What is a collection</h1>
<div>
  <p>A collection is a Backbonified list of models.</p>
</div>
<h1>Useful properties</h1>
<div class="useful-properties"></div>
<h1>Useful functions</h1>
<div class="useful-functions"></div>
