<h1>What is a model</h1>
<div>
  <p>A model allows us nerds to represent data in a Backbonified way.</p>
</div>
<h1>Useful properties</h1>
<div class="useful-properties"></div>
<h1>Useful functions</h1>
<div class="useful-functions"></div>
